@import "../../../styles/colors.scss";

.table {
  width: 100%;
  border-spacing: 0 0.5rem;

  transition: opacity 0.2s;

  tbody {
    tr {
      &:not(.emptyRow) {
        box-shadow: 1px 3px 4px rgba(0 0 0 / 0.35);
      }
      
      border-radius: 20px;
    }
  }

  th {
    color: $gray-color-300;

    padding: 1rem 2rem;

    font-weight: 600;
    text-align: left;
    line-height: 1.5rem;
  }

  td {
    padding: 1rem 2rem;
    font-weight: 500;

    color: $gray-color-200;

    &:not(.emptyCell) {
      background: $gray-color-400;
    }

    &:first-child {
      border-radius: 20px 0px 0px 20px;
    }

    &:last-child {
      border-radius: 0px 20px 20px 0px;
    }
  }
}

.emptyCell {
  text-align: center;

  p {
    margin: 2rem;
    font-size: 1.2rem;
    color: $gray-color-300;
  }
}

.sendButton {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: $white-color;
  background-color: $primary-color;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin: 10px auto;

  &:hover {
    background-color: darken($primary-color, 10%);
    transform: scale(1.05);
  }

  &:active {
    background-color: darken($primary-color, 15%);
  }

  &:disabled {
    background-color: $gray-color-300;
    cursor: not-allowed;
  }
}

.chatInputContainer {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 100%;
  padding: 10px;
  background-color: transparent;
  z-index: 1;

  @media (min-width: 768px) {
    left: 60%;
  }

  @media (min-width: 1024px) {
    left: 60%;
  }

  @media (min-width: 1440px) {
    left: 50%;
  }
}

.chat {
  max-height: 100%;
  overflow-y: auto;
  flex-direction: column;
  gap: 8px;
  display: flex;
  margin-bottom: 7%;
}

.bubbleClient {
  margin-right: 10%;
  margin-left: auto;
  background-color: rgba(rgb(0, 0, 97), 0.3);
}

.bubbleChatbot {
  margin-left: 10%;
  margin-right: auto;
  background-color: rgba(green, 0.3);
}


.chatInput {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 50%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  background-color: white;
  color: #333;
  margin: 0 auto;

  &::placeholder {
    color: #999;
  }

  &:focus {
    border-color: $primary-color; // define isso no seu colors.scss, ex: #007bff
    box-shadow: 0 0 0 3px rgba($primary-color, 0.2); // leve destaque ao focar
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    font-size: 18px;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
  }
}