* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    background-color: #f4f4f9;
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 60%;
    word-wrap: break-word;
}

.user {
    background-color: #e0e0e0;
    align-self: flex-end;
    margin-left: auto;
    max-width: 30%;
    margin-right: 10%;
}

.bot {
    background-color: #559cff;
    color: white;
    align-self: flex-start;
    max-width: 15%;
    margin-left: 10%;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #ddd;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2%;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #3a8dff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2a7aff;
}